.navbar {
    background-color: rgb(19, 25, 33);
}

.orders {
    color: white;
}

.cart {
    color: white;
}


.item__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, min-content));
   margin: 2rem 0;
}

.product__photo {
    width: 4rem;
}